.about-me-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
}

.text-element {
  text-align: center;
  align-self: center;
  transition: color 0.5s ease; /* Transition for background color */
  width: 80%;
}

.header-text {
  font-size: 3rem;
  color: #1e293b;
}

.description-text {
  font-size: 1.5rem;
  width: 80%;
  min-width: 10rem;
  max-width: 50rem;
  text-align: justify;
  color: #1e293b;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-theme {
  color: #D3D3D3;
}

/* Support for smaller screens like phones */
@media (max-width: 650px) {

  .description-text {
    font-size: 1rem;
  }
}