.projects-wrapper {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.projects-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #1e293b;
  z-index: 10;
}

.arrow.dark {
  color: #d3d3d3;
}

.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.projects-inner {
  width: 80%;
  max-width: 50rem;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.project-description-wrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.project {
  overflow: hidden;
  z-index: 1;
}

.header-text {
  font-size: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.text-element {
  padding: 1rem 1rem;
  font-size: 1.5rem;
  width: 80%;
  min-width: 10rem;
  max-width: 50rem;
  text-align: justify;
  color: #1e293b;
}

.dark-theme {
  color: #d3d3d3;
}
