.skill-component {
  width: 60vh;
  min-width: 40rem;
  max-width: 70rem !important;
  padding: 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 75%;
  z-index: 0; /* Ensure parent does not conflict with child elements */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.skill-list.dark-theme {
  background-color: #1e293b;
  color: #D3D3D3;
}

.skill-list.light-theme {
  background-color: #D3D3D3;
  color: #1e293b;
}

.skill-element {
  position: relative;
  padding: 0.5rem 0.75rem;
  border: 0.125rem solid #1e293b;
  color: #1e293b;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 1; /* Ensure tooltip is layered correctly above this */
  user-select: none; /* Prevent text selection on click */
  transition: transform 0.2s ease, background-color 0.5s ease, color 0.5s ease;
  transform: scale(1); /* Use transform consistently */
}

.skill-element.clicked {
  transform: scale(1.1); /* Apply scale transformation here */
}

.skill-element.dark-theme {
  border: 0.125rem solid #D3D3D3;
  color: #D3D3D3;
}

.tooltip {
  position: absolute;
  top: 120%; /* Adjust this based on your design */
  left: 50%;
  transform: translateX(-50%); /*align to the middle of the skill component*/
  padding: 0.5rem;
  background-color: #1e293b;
  color: #D3D3D3;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  max-width: 25vh;
  width: max-content;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Ensure long words break properly */
  z-index: 10; /* Higher than .skill-element */
}

.tooltip.dark-theme {
  background-color: #D3D3D3;
  color: #1e293b;
}