.header {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.linkedin-image-container {
  position: relative;
  width: 35px; 
  height: 35px; 
}

.linkedin-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.theme-toggle {
  transition: transform 0.5s ease;
}

.rotated {
  transform: rotate(180deg);
}

.right-header {
  display: flex;
  align-items: center;
  opacity: 1;
  padding-right: 2px;
}

.middle-header {
  display: flex;
  align-items: center;
  opacity: 1;
}

.header-element {
  margin: 0 5px;
  cursor: pointer;
}

.nav {
  padding: 0rem 0.5rem;
  font-size: 1.25rem;
}

a {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  display: block; /* Prevents inline spacing issues */
}