/* General header styles */
.header {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #d3d3d3;
  transition: background-color 0.5s ease;
}

.header.dark {
  background-color: #1e293b;
}

/* Navigation elements */
.nav {
  margin: 0 5px;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: #1e293b;
  cursor: pointer;
  transition: color 0.5s ease;
  border-bottom: 2px solid transparent;
}

.nav.dark {
  color: #d3d3d3;
}

.nav.active {
  border-bottom: 2px solid #1e293b;
}

.nav.dark.active {
  border-bottom: 2px solid #d3d3d3;
}

/* Right and middle header layout */
.right-header,
.middle-header {
  display: flex;
  align-items: center;
  padding-right: 2px;
}

/* Theme toggle button */
.theme-toggle {
  transition: transform 0.5s ease;
}

.theme-toggle.rotated {
  transform: rotate(180deg);
}

/* Image container and images */
.image-container {
  position: relative;
  width: 35px;
  height: 35px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Links and images */
a,
img {
  margin: 0;
  padding: 0;
  display: block;
}

@media (max-width: 650px) {
  .nav {
    font-size: 1.2rem;
  }
}
